<nav class="navigation" data-component="Navigation">
    <a href="/" class="logo logo--naviation"><img src="/assets/img/logo.png" height="16"/></a>
    <ul class="navigation__links list--clean">
        <li>
            <a class="navigation__link link--clean" href="#">Cases</a>
        </li>
        <li>
            <a class="navigation__link link--clean" href="#">Team</a>
        </li>
        <li>
            <a class="navigation__link link--clean" href="#">Contact</a>
        </li>
    </ul>
</nav>
