.navigation {
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: var(--color-white);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

	&,
	&__links {
		display: flex;
		align-items: center;
	}

	&__link {
		padding: 0.5rem;
		&:hover {
			color: var(--color-brand-primary);
		}
	}
}
