@mixin addFont($location, $name, $weight: 400) {
	@font-face {
		font-family: $name;
		src: url('../fonts/#{$location}.eot'); /* IE9 Compat Modes */
		src: url('../fonts/#{$location}.eot?#iefix') format('embedded-opentype'),
			/* IE6-IE8 */ url('../fonts/#{$location}.woff2') format('woff2'),
			/* Super Modern Browsers */ url('../fonts/#{$location}.woff')
				format('woff'),
			/* Pretty Modern Browsers */ url('../fonts/#{$location}.ttf')
				format('truetype'),
			/* Safari, Android, iOS */ url('../fonts/#{$location}.svg#svgFontName')
				format('svg'); /* Legacy iOS */
		font-weight: $weight;
	}
}

@include addFont('innogyWEB-Regular/innogyWEB-Regular', 'Innogy Web');
@include addFont('innogyWEB-Light/innogyWEB-Light', 'Innogy Web', 300);
@include addFont('innogyWEB-Medium/innogyWEB-Medium', 'Innogy Web', 600);
@include addFont('innogyWEB-Bold/innogyWEB-Bold', 'Innogy Web', 700);
