<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Garage</title>
        <meta name="format-detection" content="telephone=no"/>
        <meta name="theme-color" content="#FFC300">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/assets/css/style.css">
        {% include 'layouts/cut' %}
    </head>

    <body>
        {% include 'components/navigation' %}
        {%- block body %}{% endblock -%}
    </body>

</html>
